p{
	display:none;
}

.borderradius p.borderradius-enabled{
	display:block;
	border: 2px solid;
	border-radius: 25px;
	color:blue;
	border-top-left-radius:5px;
	box-shadow: 10px 10px 25px 0px rgba(90,0,0,0.6);
}


/* If javascript is enabled, we we'll see class js-enabled*/

.no-borderradius p.borderradius-disabled{
	display:block;
	color:green;
}

/* If you disable JavaScript inside Dev Tools, you will see the sentence stating you are NOT using JavaScript*/

ul.columns{
	columns:3;
}

.no-csscolumns ul.columns li{
	float:left;
	width:33%;
}

/* If your browser does not support css columns (caniuseit.com), it will still make columns*/