p{
	display:none;
}

.js p.js-enabled{
	display:block;
}
/* If javascript is enabled, we we'll see class js-enabled*/

.no-js p.js-disabled{
	display:block;
}

/* If you disable JavaScript inside Dev Tools, you will see the sentence stating you are NOT using JavaScript*/

ul.columns{
	columns:3;
}

.no-csscolumns ul.columns li{
	float:left;
	width:33%;
}

/* If your browser does not support css columns (caniuseit.com), it will still make columns*/